# Análise Exploratória de Dados com Pandas

Vamos utilizar Oandas para responder algumas questões relacionadas ao dataset [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).

In [482]:
import pandas as pd
import numpy as np

In [483]:
data = pd.read_csv('./adult.data.csv')
data = data.rename_axis('id').rename_axis('id', axis='columns')

### 1. Quantos homens e mulheres (atributo *sex*) são representados nesse dataset?

In [484]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

### 2. Qual a idade média (atributo *age*) das mulheres?

In [486]:
data.loc[(data['sex'] == ' Female'), 'age'].mean()

36.85823043357163

### 3.  Qual é a porcentagem de cidadãos alemães (atributo *native-country*)?

In [487]:
data['native-country'].value_counts('p')[' Germany']

0.004207487485028101

### 4. Qua é a média e o desvio padrão de idade daqueles que ganham mais que 50K por ano (atributo *salary*) e daqueles que ganham menos que 50K por ano?

In [488]:
print(data.loc[data['salary'] == ' <=50K', 'age'].std())
print(data.loc[data['salary'] == ' >50K', 'age'].std())

14.02008849082488
10.519027719851826

### 5. É verdade que pessoas que ganham mais que 50K possuem, pelo menos, educação superior (atributo *education*:  Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters ou Doctorate)?

In [489]:
print((data.loc[data['salary'] == ' >50K', 'education'].any() != [' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters',' Doctorate']))
print(~(data.loc[data['salary'] == ' >50K', 'education'].any() != [' Bachelors', ' Prof-school', ' Assoc-acdm', ' Assoc-voc', ' Masters',' Doctorate']))
#Aparentemente a negação de True é -2, mas você pegou a ideia, é -2.

True
-2

### 6. Mostre estatísticas sobre a idade de cada raça (atributo *race*) e cada gênero (atributo *sex*). Use as funções *groupby()* e *describe()*. Encontre a idade máxima dos homens da raça *Amer-Indian-Eskimo*.

In [490]:
d = data.groupby([' race', 'sex'])
d.describe()

id                               age                                          \
                               count       mean        std   min   25%   50%
 race               sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

id                                         fnlwgt                 ...  \
                               75%   max    count           mean  ...
 race               sex                                           ...
 Amer-Indian-Eskimo  Female  46.00  80.0    119.0  112950.731092  ...
                     Male    45.00  82.0    192.0  125715.364583  ...
 Asian-Pac-Islander  Female  43.75  75.0    346.0  147452.075145  ...
                     Male    46.00  90.0    693.0  166175.865801  ...
 Black               Female  46.00  90.0   1555.0  212971.387781  ...
                     Male    46.00  90.0   1569.0  242920.644997  ...
 Other               Female  39.00  74.0    109.0  172519.642202  ...
                     Male    42.00  77.0    162.0  213679.104938  ...
 White               Female  46.00  90.0   8642.0  183549.966906  ...
                     Male    49.00  90.0  19174.0  188987.386148  ...

id                          capital-loss         hours-per-week             \
                                     75%     max          count       mean
 race               sex
 Amer-Indian-Eskimo  Female          0.0  1721.0          119.0  36.579832
                     Male            0.0  1980.0          192.0  42.197917
 Asian-Pac-Islander  Female          0.0  2258.0          346.0  37.439306
                     Male            0.0  2457.0          693.0  41.468975
 Black               Female          0.0  4356.0         1555.0  36.834084
                     Male            0.0  2824.0         1569.0  39.997451
 Other               Female          0.0  1740.0          109.0  35.926606
                     Male            0.0  2179.0          162.0  41.851852
 White               Female          0.0  4356.0         8642.0  36.296691
                     Male            0.0  3770.0        19174.0  42.668822

id
                                   std  min   25%   50%   75%   max
 race               sex
 Amer-Indian-Eskimo  Female  11.046509  4.0  35.0  40.0  40.0  84.0
                     Male    11.596280  3.0  40.0  40.0  45.0  84.0
 Asian-Pac-Islander  Female  12.479459  1.0  35.0  40.0  40.0  99.0
                     Male    12.387563  1.0  40.0  40.0  45.0  99.0
 Black               Female   9.419960  2.0  35.0  40.0  40.0  99.0
                     Male    10.909413  1.0  40.0  40.0  40.0  99.0
 Other               Female  10.300761  6.0  30.0  40.0  40.0  65.0
                     Male    11.084779  5.0  40.0  40.0  40.0  98.0
 White               Female  12.190951  1.0  30.0  40.0  40.0  99.0
                     Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

In [491]:
d.describe()['age']['max'][(' Amer-Indian-Eskimo', ' Male')]

82.0

### 7. Encontre a proporção, considerando casados e solteiros (atributo *marital-status*), daqueles que ganham muito (>50K).

In [492]:
s = data.loc[data['salary'] == ' >50K', 'marital-status'].value_counts()
(s[' Never-married']+s[' Separated']+s[' Divorced']+s[' Widowed'])/(s[' Married-civ-spouse']+s[' Married-spouse-absent']+s[' Married-AF-spouse'])

0.16404394299287411

### 8. Qual é o número máximo de horas que uma pessoa trabalha por semana (atributo *hours-per-week*)? Quantas pessoas trabalham esse número de horas e qual a porcentagem daqueles que ganham muito (>50K) entre eles?

In [493]:
maxi = data['hours-per-week'].max()
maxi

99

In [494]:
slaves = data.loc[data['hours-per-week'] == maxi, 'salary']
slaves.count()

85

In [495]:
slaves[slaves == ' >50K'].count()/slaves.count()

0.29411764705882354

### 9. Determine o tempo médio de trabalho (*hours-per-week*) daqueles que ganham pouco (<=50K) e muito (atributo *salary*) para cada país (atributo *native-country*). Quantos dos indivíduos são do Japão?

In [496]:
data.groupby(['salary','native-country'])['hours-per-week'].mean()

salary  native-country
 <=50K   ?                             40.164760
         Cambodia                      41.416667
         Canada                        37.914634
         China                         37.381818
         Columbia                      38.684211
         Cuba                          37.985714
         Dominican-Republic            42.338235
         Ecuador                       38.041667
         El-Salvador                   36.030928
         England                       40.483333
         France                        41.058824
         Germany                       39.139785
         Greece                        41.809524
         Guatemala                     39.360656
         Haiti                         36.325000
         Holand-Netherlands            40.000000
         Honduras                      34.333333
         Hong                          39.142857
         Hungary                       31.300000
         India                         38.233333
         Iran                          41.440000
         Ireland                       40.947368
         Italy                         39.625000
         Jamaica                       38.239437
         Japan                         41.000000
         Laos                          40.375000
         Mexico                        40.003279
         Nicaragua                     36.093750
         Outlying-US(Guam-USVI-etc)    41.857143
         Peru                          35.068966
                                         ...
 >50K    France                        50.750000
         Germany                       44.977273
         Greece                        50.625000
         Guatemala                     36.666667
         Haiti                         42.750000
         Honduras                      60.000000
         Hong                          45.000000
         Hungary                       50.000000
         India                         46.475000
         Iran                          47.500000
         Ireland                       48.000000
         Italy                         45.400000
         Jamaica                       41.100000
         Japan                         47.958333
         Laos                          40.000000
         Mexico                        46.575758
         Nicaragua                     37.500000
         Peru                          40.000000
         Philippines                   43.032787
         Poland                        39.000000
         Portugal                      41.500000
         Puerto-Rico                   39.416667
         Scotland                      46.666667
         South                         51.437500
         Taiwan                        46.800000
         Thailand                      58.333333
         Trinadad&Tobago               40.000000
         United-States                 45.505369
         Vietnam                       39.200000
         Yugoslavia                    49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [497]:
data.loc[data['native-country'] == ' Japan','native-country'].count()

62

### 10. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis tipo de trabalho (atributo *workclass*) e educação (atributo *education*).

In [498]:
pd.pivot_table(data, values='hours-per-week', index=' workclass', columns=['education'], aggfunc='mean')

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
workclass,,,,,,,,,,,,,,,,
?,33.150000,31.711864,34.525000,34.916667,37.233333,32.527778,32.392157,26.234043,33.885246,32.416185,29.533333,31.896617,31.541667,34.000000,28.388889,31.363813
Federal-gov,42.166667,27.444444,35.000000,NaN,40.000000,35.000000,40.000000,41.036364,41.315789,42.617925,50.187500,40.228137,42.656716,NaN,49.896552,40.429134
Local-gov,38.225806,30.555556,36.631579,33.000000,34.555556,36.535714,37.086957,40.409091,41.651163,42.140461,43.592593,39.894632,43.827485,32.500000,45.379310,40.204134
Never-worked,35.000000,10.000000,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,22.000000
Private,36.827338,33.930661,35.141141,38.955882,39.488722,39.910377,38.258398,40.871056,41.225871,42.698676,48.668508,40.507198,44.458613,37.682927,48.101167,38.731645
Self-emp-inc,38.368421,39.285714,42.571429,40.000000,42.500000,45.714286,46.900000,47.914286,49.947368,49.402930,54.685714,47.007168,52.911392,NaN,50.839506,49.362832
Self-emp-not-inc,43.507463,40.483333,44.789474,36.769231,36.105263,42.882979,41.676471,44.211268,46.916667,44.177945,41.740000,45.435335,43.161290,NaN,45.870229,44.117284
State-gov,39.076923,33.357143,39.000000,20.000000,31.250000,31.800000,39.666667,36.853659,41.086957,39.692593,46.820225,39.425373,40.775148,24.000000,50.129032,34.698462
Without-pay,NaN,NaN,NaN,NaN,NaN,50.000000,NaN,50.000000,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,35.333333

### 11. Gere uma tabela que permita comparar (*pivot table*) o valor médio de horas trabalhadas por semana (atributo *hours-per-week*) considerando as variáveis ocupação (atributo *occupation*) e gênero (atributo *sex*).

In [499]:
pd.pivot_table(data, values='hours-per-week', index='occupation', columns=['sex'], aggfunc='mean')

sex                    Female       Male
occupation
 ?                  29.976219  33.525948
 Adm-clerical       36.741033  39.240065
 Armed-Forces             NaN  40.666667
 Craft-repair       39.869369  42.443642
 Exec-managerial    41.517688  46.371173
 Farming-fishing    37.784615  47.634015
 Handlers-cleaners  36.103659  38.198176
 Machine-op-inspct  38.929091  41.447658
 Other-service      33.437778  36.223411
 Priv-house-serv    32.489362  39.875000
 Prof-specialty     39.423762  44.096762
 Protective-serv    38.526316  43.446771
 Sales              34.274743  44.223712
 Tech-support       37.295977  40.713793
 Transport-moving   36.711111  45.130723

### 12. Exiba o desvio padrão de horas trabalhadas por país (atributo *native-country*) e gênero (atributo *sex*). Faça o mesmo para (atributo *native-country*) e raça (atributo *race*).

In [500]:
pd.pivot_table(data, values='hours-per-week', index='native-country', columns=['sex'], aggfunc='std')

sex                             Female       Male
native-country
 ?                           15.211396  10.782206
 Cambodia                     0.000000   2.719528
 Canada                      13.485235  13.067702
 China                       12.976903  10.267628
 Columbia                     7.489002   9.461821
 Cuba                        11.726340   8.956611
 Dominican-Republic           7.375636  13.521971
 Ecuador                      5.659309   9.112038
 El-Salvador                  8.451841   9.947265
 England                     15.903407  12.990480
 France                      10.561508  15.723250
 Germany                     13.713122   9.153454
 Greece                      14.703741  16.424399
 Guatemala                    7.493155   6.112883
 Haiti                       10.284761  12.674221
 Honduras                    14.387495   6.055301
 Hong                         4.082483   7.565102
 Hungary                     17.440375  18.644545
 India                        7.695335  12.594444
 Iran                         6.611678  12.739339
 Ireland                      6.106203   9.270446
 Italy                       17.755214  11.587753
 Jamaica                      9.439262   8.680843
 Japan                       10.408878  14.135728
 Laos                         5.365232   2.357023
 Mexico                      10.689034  10.211031
 Nicaragua                    8.989472   7.906515
 Outlying-US(Guam-USVI-etc)  13.214350   7.867958
 Peru                         6.612093  13.409555
 Philippines                  8.518513  11.751640
 Poland                      12.937321  10.818514
 Portugal                     5.765624   9.582449
 Puerto-Rico                 10.070566   9.294366
 Scotland                     2.236068  12.863755
 South                       17.215637  15.471950
 Taiwan                      14.674889  14.936904
 Thailand                    18.785391  23.337075
 Trinadad&Tobago             11.196590  11.486016
 United-States               11.787434  12.212134
 Vietnam                     11.423573  12.308984
 Yugoslavia                  11.547005  10.326714

### 13. Inclua a coluna *retired*, para indicar aposentadoria para quem tem mais de 60 anos e é mulher ou mais de 65 anos e é homem (atirbutos *age* e *sex*).

In [502]:
data['retired'] = (((data['age'] > 60) & (data['sex'] == ' Female')) | ((data['age'] > 65) & (data['sex'] == ' Male')))
data

id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,retired
id,,,,,,,,,,,,,,,,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,False
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,False
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,False
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,False
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,False
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,False
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,False
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,False
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,False
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,False
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,False
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,False
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,False
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,False
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,False
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,False
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,False
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,False
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,False
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,False
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,False
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,False
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,False
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,False
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,False
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,False
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,False
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,False
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,False
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,False
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,False
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,False
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,False
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,True
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,False
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,False
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,True
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,False
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,False
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,False
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,False
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,False
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,False
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,False
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,False
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,False
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,False
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,False
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,False
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,False
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,False
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,False
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,False
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,False

### 14. Calcule o valor do *z-score* do tempo de trabalho por semana (atributo *hours-per-week*) de cada indivíduo, considerando como média (*mean*) e desvio padrão (*std*) os valores obtido por grupos dados pelo país de origem (atributo *native-country*) e o sexo (atributo *sex*). Dica: o *z-score* de um valor x é dado por:  *(x-mean)/std*.

In [503]:
data.groupby(['native-country','sex'])['hours-per-week'].apply(lambda v: np.mean(v)/np.std(v))

c:\users\takim\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in double_scalars
  """Entry point for launching an IPython kernel.

native-country               sex
 ?                            Female     2.471034
                              Male       4.000325
 Cambodia                     Female          inf
                              Male      15.594311
 Canada                       Female     2.945268
                              Male       3.154937
 China                        Female     2.842668
                              Male       3.783037
 Columbia                     Female     5.154824
                              Male       4.283108
 Cuba                         Female     3.016280
                              Male       4.759127
 Dominican-Republic           Female     5.529950
                              Male       3.357208
 Ecuador                      Female     5.726682
                              Male       4.943294
 El-Salvador                  Female     4.191277
                              Male       3.818815
 England                      Female     2.637283
                              Male       3.272085
 France                       Female     3.807405
                              Male       3.258592
 Germany                      Female     2.613059
                              Male       4.979833
 Greece                       Female     3.178363
                              Male       2.783205
 Guatemala                    Female     5.422114
                              Male       6.465011
 Haiti                        Female     3.416682
                              Male       3.153369
                                          ...
 Nicaragua                    Female     3.882605
                              Male       4.878074
 Outlying-US(Guam-USVI-etc)   Female     3.222839
                              Male       6.079600
 Peru                         Female     6.154569
                              Male       2.477888
 Philippines                  Female     4.512794
                              Male       3.453703
 Poland                       Female     2.741867
                              Male       3.752427
 Portugal                     Female     7.034814
                              Male       4.618247
 Puerto-Rico                  Female     3.636646
                              Male       4.393050
 Scotland                     Female    19.500000
                              Male       3.598561
 South                        Female     2.243061
                              Male       2.943241
 Taiwan                       Female     2.308857
                              Male       2.813993
 Thailand                     Female     2.461644
                              Male       2.201776
 Trinadad&Tobago              Female     3.167822
                              Male       3.932360
 United-States                Female     3.081956
                              Male       3.479848
 Vietnam                      Female     3.226096
                              Male       3.124735
 Yugoslavia                   Female     3.535534
                              Male       4.752652
Name: hours-per-week, Length: 83, dtype: float64

### 15. Calcule a porporção de indivíduos que ganham bem por país (atributo *native-country*), sexo (atributo *sex*) e raça (atributo *race*).

In [508]:
def proportion(att):
    query = data.groupby(['salary',att]).agg('count').loc[' >50K'].iloc[:, 1]
    return query.apply(lambda v: v/query.sum())

In [509]:
proportion('native-country')

native-country
 ?                     0.018620
 Cambodia              0.000893
 Canada                0.004974
 China                 0.002551
 Columbia              0.000255
 Cuba                  0.003188
 Dominican-Republic    0.000255
 Ecuador               0.000510
 El-Salvador           0.001148
 England               0.003826
 France                0.001530
 Germany               0.005612
 Greece                0.001020
 Guatemala             0.000383
 Haiti                 0.000510
 Honduras              0.000128
 Hong                  0.000765
 Hungary               0.000383
 India                 0.005101
 Iran                  0.002296
 Ireland               0.000638
 Italy                 0.003188
 Jamaica               0.001275
 Japan                 0.003061
 Laos                  0.000255
 Mexico                0.004209
 Nicaragua             0.000255
 Peru                  0.000255
 Philippines           0.007780
 Poland                0.001530
 Portugal              0.000510
 Puerto-Rico           0.001530
 Scotland              0.000383
 South                 0.002041
 Taiwan                0.002551
 Thailand              0.000383
 Trinadad&Tobago       0.000255
 United-States         0.914552
 Vietnam               0.000638
 Yugoslavia            0.000765
Name:  workclass, dtype: float64

In [510]:
proportion('sex')

sex
 Female    0.150363
 Male      0.849637
Name:  workclass, dtype: float64

In [511]:
proportion(' race')

 race
 Amer-Indian-Eskimo    0.004591
 Asian-Pac-Islander    0.035200
 Black                 0.049356
 Other                 0.003188
 White                 0.907665
Name:  workclass, dtype: float64